.menu {
    z-index: 1000;
    background: var(--fondo);
    border: var(--borde);
    border-radius: var(--radius);
    min-width: 140px;
    padding: 6px 6px;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    box-shadow: 0 2px 6px #0006;
}

.menuItem {
  padding: 6px 8px;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  color: #eee;
}

.menuItem:hover {
  background: #111111;
  border-radius: var(--radius);
}

.error {
  color: #ff5555;
} 