.menuLateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: #53535314;
    width: auto;
    border-right: var(--borde);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 1rem 0px;
    margin: 0;
    width: 55px;
}

.menuLateral ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

