.menuLateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #53535314;
    width: auto;
    border-right: var(--borde);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 10px 0px;
    margin: 0;
    align-items: center;
    width: 68px;
}

.menuLateral ul {
    list-style: none;
}

.menuLateral li {
    margin-bottom: 8px;
}

.menuLateral a {
    color: var(--foreground);
    font-size: 14px;
}
